<!DOCTYPE html>
<html>
<head>
    <title>Black Hole</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scate=1, minimum-scale=1, maximum-scale=1">
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" text="text/css" href="/css/base.css">
    {% block head %}{% endblock %}
</head>

<body>
    {% set navigation_bar_left = [
      ('','Play'), ('tutorial', 'Tutorial'), ('score','Scoreboard'),
      ] -%}
    {% set navigation_bar_right1 = [
       ('login','Login'),('signup','Sign Up')
      ] -%}
    {% set navigation_bar_right2 = [
       ('profile','Profile'),('logout','Logout')
      ] -%}
    {% set active_page = active_page|default('') -%}

    <div class="titel">
        <h1>Black Hole</h1>
    </div>
    <nav class="navbar navbar-inverse" style="border-radius:0 !important">
      <div class="container-fluid">
        <ul class="nav navbar-nav">
          {% for id, caption in navigation_bar_left %}
            <li
            {% if id == active_page %}
              class="active"
            {% endif%}
            ><a href="/{{ id }}">{{ caption }}</a>
            </li>
          {% endfor %}
      </ul>
        {% if not current_user.is_authenticated %}
        <ul class="nav navbar-nav navbar-right">
          {% for id, caption in navigation_bar_right1 %}
            <li
            {% if id == active_page %}
              class="active"
            {% endif%}
            ><a href="/{{ id }}">{{ caption }}</a>
            </li>
          {% endfor %}
      </ul>
        {% else %}
        <ul class="nav navbar-nav navbar-right">
        {% for id, caption in navigation_bar_right2 %}
          <li
          {% if id == active_page %}
            class="active"
          {% endif%}
          ><a href="/{{ id }}">{{ caption }}</a>
          </li>
        {% endfor %}
      </ul>
        {% endif %}
      </div>
    </nav>

    <div class="contents">
      {% block content %}{% endblock %}
    </div>

    <script type="text/javascript" src="/js/jquery-2.2.3.min.js"></script>
    <script type="text/javascript" src="/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/js/socket.io-1.4.5.min.js"></script>
    {% block script %}{% endblock %}
</body>
</html>
