<!DOCTYPE html>
<html>
<head>
    <title>Black Hole</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scate=1, minimum-scale=1, maximum-scale=1">
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" text="text/css" href="/css/base.css">
    {% block head %}{% endblock %}
</head>

<body>
  <div class="body">
    <div class="titel">
        <h1>Black Hole</h1>
    </div>
    <nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <ul class="nav navbar-nav">
      <li class="active"><a href="/">Home</a></li>
      <li><a href="#">Tutorial</a></li>
      <li><a href="/game">Play the Game</a></li>
      <li><a href="/score">Score Board</a></li>
      {% if not current_user.is_authenticated %}
      <li><a href="/login">Login</a></li>
      <li><a href="/signup">Sign Up</a></li>
      {% else %}
      <li><a href="/logout">Logout</a></li>
      <li><a href="/profile">Profile</a></li>
      {% endif %}

    </ul>
  </div>
</nav>

    <div class="contents">
      {% block content %}{% endblock %}
    </div>
  </div>
    <script type="text/javascript" src="/js/jquery-2.2.3.min.js"></script>
    <script type="text/javascript" src="/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/js/socket.io-1.4.5.min.js"></script>
    {% block script %}{% endblock %}
</body>
</html>
