{% extends "base.html" %}

{% block head %}
<style type="text/css">
.btn-circle {
  width: 30px;
  height: 30px;
  text-align: center;
  padding: 6px 0;
  font-size: 12px;
  line-height: 1.428571429;
  border-radius: 15px;
}
.btn-circle.btn-lg {
  width: 50px;
  height: 50px;
  padding: 10px 16px;
  font-size: 18px;
  line-height: 1.33;
  border-radius: 25px;
}
.btn-circle.btn-xl {
  width: 70px;
  height: 70px;
  padding: 10px 16px;
  font-size: 24px;
  line-height: 1.33;
  border-radius: 35px;
}

</style>
{% endblock %}

{% set active_page = "game" %}

{% block script %}
<script type="text/javascript">
var waiting = true;
var socket = io();
var user = null;
var room = null;

socket.on('connect', function() {
    socket.emit('join', {});
});

socket.on('join', function(data) {
    user = data.user;
});

socket.on('play', function(json) {
    room = json.room;
    started = (user === json.started);

    // update unused bricks
    var bricks_used = Math.floor(json.turn/2);
    for (i = 1; i <= bricks_used; i++){
        $("#brick-opponent-" + i).hide();
        $("#brick-own-" + i).hide();
    }

    if (started && json.current_player != user){
        $("#brick-own-" + (bricks_used+1)).hide();
    }

    // update gameboard
    for (i = 1; i <= 21; i++){
        var brick_data = json.board[i];
        var brick = $("#board-" + i);

        // empty brick
        if (brick_data === null){
            brick.prop("class", "btn btn-default btn-circle btn-xl boardbutton");
            brick.text("");
            continue;
        }

        // brick value
        brick.text(brick_data.value);

        brick.prop("onlick",null).off("click");

        // color
        if (brick_data.player === user){
            brick.prop("class", "btn btn-info btn-circle btn-xl disabled");
        } else {
            brick.prop("class", "btn btn-danger btn-circle btn-xl disabled");
        }
    }

    // make user wait
    if (json.current_player === user){
        waiting = false;
    }
});

$(".boardbutton").click(function(){
  if (waiting){
    return;
  }
  waiting = true;

  /*
  $("#brick-" + turn).hide();
  $(this).prop("class", "btn btn-info btn-circle btn-xl disabled");
  $(this).text(turn);
  $(this).prop("onlick",null).off("click");
  */

  socket.emit('play', {
        tile: $(this).prop('id').split("-")[1],
        room: room
        }
    );

});


</script>
{% endblock %}

{% block content %}
<div class="game">
<div class="row">
    <div class="col-md-2">x</div>
    <div class="col-md-8">vs</div>
    <div class="col-md-2">y</div>
</div>
<div class="row">
    <div class="col-md-2">
        <p>
            <button id="brick-own-1"  type="button" class="btn btn-info btn-circle btn-lg disabled">1</button>
            <button id="brick-own-2"  type="button" class="btn btn-info btn-circle btn-lg disabled">2</button>
        </p>
        <p>
            <button id="brick-own-3"  type="button" class="btn btn-info btn-circle btn-lg disabled">3</button>
            <button id="brick-own-4"  type="button" class="btn btn-info btn-circle btn-lg disabled">4</button>
        </p>
        <p>
            <button id="brick-own-5"  type="button" class="btn btn-info btn-circle btn-lg disabled">5</button>
            <button id="brick-own-6"  type="button" class="btn btn-info btn-circle btn-lg disabled">6</button>
        </p>
        <p>
            <button id="brick-own-7"  type="button" class="btn btn-info btn-circle btn-lg disabled">7</button>
            <button id="brick-own-8"  type="button" class="btn btn-info btn-circle btn-lg disabled">8</button>
        </p>
        <p>
            <button id="brick-own-9"  type="button" class="btn btn-info btn-circle btn-lg disabled">9</button>
            <button id="brick-own-10"  type="button" class="btn btn-info btn-circle btn-lg disabled">10</button>
        </p>
    </div>

    <div class="col-md-8">
        <center>
            <p>
                <button id="board-1" type="button" class="btn btn-default btn-circle btn-xl boardbutton"></button>
            </p>
        </center>

        <center>
            <p>
                <button id="board-2" type="button" class="btn btn-default btn-circle btn-xl boardbutton"></button>
                <button id="board-3" type="button" class="btn btn-default btn-circle btn-xl boardbutton"></button>
            </p>
        </center>

        <center>
            <p>
                <button id="board-4" type="button" class="btn btn-default btn-circle btn-xl boardbutton"></button>
                <button id="board-5" type="button" class="btn btn-default btn-circle btn-xl boardbutton"></button>
                <button id="board-6"type="button" class="btn btn-default btn-circle btn-xl boardbutton"></button>
            </p>
        </center>

        <center>
            <p>
                <button id="board-7" type="button" class="btn btn-default btn-circle btn-xl boardbutton"></button>
                <button id="board-8" type="button" class="btn btn-default btn-circle btn-xl boardbutton"></button>
                <button id="board-9" type="button" class="btn btn-default btn-circle btn-xl boardbutton"></button>
                <button id="board-10" type="button" class="btn btn-default btn-circle btn-xl boardbutton"></button>
            </p>
        </center>

        <center>
            <p>
                <button id="board-11" type="button" class="btn btn-default btn-circle btn-xl boardbutton"></button>
                <button id="board-12" type="button" class="btn btn-default btn-circle btn-xl boardbutton"></button>
                <button id="board-13" type="button" class="btn btn-default btn-circle btn-xl boardbutton"></button>
                <button id="board-14" type="button" class="btn btn-default btn-circle btn-xl boardbutton"></button>
                <button id="board-15" type="button" class="btn btn-default btn-circle btn-xl boardbutton"></button>
            </p>
        </center>

        <center>
            <p>
                <button id="board-16" type="button" class="btn btn-default btn-circle btn-xl boardbutton"></button>
                <button id="board-17" type="button" class="btn btn-default btn-circle btn-xl boardbutton"></button>
                <button id="board-18" type="button" class="btn btn-default btn-circle btn-xl boardbutton"></button>
                <button id="board-19" type="button" class="btn btn-default btn-circle btn-xl boardbutton"></button>
                <button id="board-20" type="button" class="btn btn-default btn-circle btn-xl boardbutton"></button>
                <button id="board-21" type="button" class="btn btn-default btn-circle btn-xl boardbutton"></button>
            </p>
        </center>

    </div>
    <div class="col-md-2">
        <p>
            <button id="brick-opponent-1"  type="button" class="btn btn-danger btn-circle btn-lg disabled">1</button>
            <button id="brick-opponent-2"  type="button" class="btn btn-danger btn-circle btn-lg disabled">2</button>
        </p>
        <p>
            <button id="brick-opponent-3"  type="button" class="btn btn-danger btn-circle btn-lg disabled">3</button>
            <button id="brick-opponent-4"  type="button" class="btn btn-danger btn-circle btn-lg disabled">4</button>
        </p>
        <p>
            <button id="brick-opponent-5"  type="button" class="btn btn-danger btn-circle btn-lg disabled">5</button>
            <button id="brick-opponent-6"  type="button" class="btn btn-danger btn-circle btn-lg disabled">6</button>
        </p>
        <p>
            <button id="brick-opponent-7"  type="button" class="btn btn-danger btn-circle btn-lg disabled">7</button>
            <button id="brick-opponent-8"  type="button" class="btn btn-danger btn-circle btn-lg disabled">8</button>
        </p>
        <p>
            <button id="brick-opponent-9"  type="button" class="btn btn-danger btn-circle btn-lg disabled">9</button>
            <button id="brick-opponent-10"  type="button" class="btn btn-danger btn-circle btn-lg disabled">10</button>
        </p>
    </div>
</div>
</div>
{% endblock %}
