{% extends "base.html" %}

{% block content %}
  <!-- Check for error messages -->
  {% with messages = get_flashed_messages(with_categories=true) %}
  {% if messages %}
  {% for catagory, message in messages %}
  <div class="alert alert-{{ catagory }}" role="alert">
    <ul class=flashes>
      <li>{{ message }}</li>
  </ul>
  </div>
  {% endfor %}
  {% endif %}
  {% endwith %}
  <div class="buttonContainer" style="text-align:center;">
    <div class="col-md-1"></div>
    <div class=col-md-4>
      <form action="/game" method="get">
        <input type="submit" value="Bot game" class="form-control"
           name="Submit" id="frm1_submit" />
       </form>

    </div>
    <div class="col-md-2"></div>
    <div class="col-md-4">
      <form action="/game" method="get">
        <input type="submit" value="PVP game" class="form-control"
           name="Submit" id="frm1_submit" />
       </form>
    </div>
    <div class="col-md-1"></div>
  </div>
{% endblock %}
