{% extends "base.html" %}

{% block content %}
<div class="nav">
  <div class="login">
    <!-- Check for error messages -->
      {% with messages = get_flashed_messages(with_categories=true) %}
      {% if messages %}
      {% for catagory, message in messages %}
      <div class="alert alert-{{ catagory }}" role="alert">
        <ul class=flashes>
          <li>{{ message }}</li>
      </ul>
      </div>
      {% endfor %}
      {% endif %}
      {% endwith %}

    <h1>Login</h1>

    <!-- Login form -->
    <form class="form-horizontal" role="form" action="/login" method="post">
    <div class="form-group">
      <label class="control-label col-sm-2" for="usr">Username:</label>
      <div class="col-sm-6">
        <input name="username" type="text" class="form-control" id="usr" placeholder="Enter Username">
      </div>
    </div>
    <div class="form-group">
      <label class="control-label col-sm-2" for="pwd">Password:</label>
      <div class="col-sm-6">
        <input name="password" type="password" class="form-control" id="pwd" placeholder="Enter password">
      </div>
    </div>
    <div class="form-group">
      <div class="col-sm-offset-2 col-sm-10">
        <button type="submit" class="btn btn-default">Login</button>
      </div>
    </div>
  </form>
  </div>
</div>
{% endblock %}
