{% extends "base.html" %}

{% set active_page = "rules" %}

{% block content %}
    <p>Black Hole, initially designed as a paper-and-pencil game, is played on a triangular board of 21 cells. Two players alternate turns placing a numbered disc of their color onto an empty space. Discs are numbered 1-10 and must be placed in numerical order. When all the discs have been placed, the game ends. The one board space that remains empty is the "Black Hole"; each player sums the values of his discs surrounding the Black Hole, and the player with the lower sum wins.</p>
{% endblock %}
