{% extends "base.html" %}
{% block head %}
<style type="text/css">
.scoreboard {
  background-color: #F1A94E;
}

</style>
{% endblock %}
{% set active_page = "score" %}
{% block content %}
  <table class='table scoreboard'>
      <thead>
        <tr>
          <th>Username</th>
          <th>Matchmaking Rating</th>
        </tr>
      </thead>
      <tbody>
        {% for user in users %}
        <tr>
          <td>{{ user.username }} </td>
          <td>{{ user.score }} </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
{% endblock %}
